@import url("https://fonts.googleapis.com/css2?family=Revalia&display=swap");
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: url("https://images.unsplash.com/photo-1652062215546-b329f84fcb0b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyNHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60")
    no-repeat center center fixed;
  background-size: cover;
}

input[type="text"],
input[type="password"] {
  margin-top: 10px;
}
h1 {
  margin-top: 40px;
  margin-bottom: 30px;
  background-color: rgb(231, 197, 152, 0.5);
}
